* {
	text-decoration: none;
	list-style-type: none;
}

body {
	width: auto!important;
	margin: auto!important;
	font: 11pt serif ;
	background-color: #fff!important;
	color: #000!important;
	text-align: center; /*Centrer les blocs sous IE*/
}

p, h1, h2, h3, h4, ul {
  color: #000!important;
}

ul {
  page-break-inside: avoid; /* pas de coupure dans ces élements */
}

h1, h2, h3 {
  page-break-after: avoid; /* pas de saut après ces éléments */
}

a {
  color: #000!important;
  text-decoration: underline!important;
}

a[href]:after {
  content: " (http://formation.univ-poitiers.fr/ariste/" attr(href) ")"; /* affichage des URL des liens */
}

#header, #menu li, #ariane, .text p + br, #footer li {
	display: none;
} /* Les éléments qui ne seront pas affichés  */

/*------------------------------- CONTENU ---------------------------------*/

#content {
	text-align: justify;
}

#content h2 {
	padding-left: 150px ;
	font-size: 2.5em ;
	font-variant: small-caps;
}
  
/*------------------------------- ILLUSTRATION ---------------------------------*/
.photo {
	float: right;
	padding: 25px;
	background: #efe7d7;
	display: table;
	width: 0;
	text-align: center;
}

.photoacceuil {
	float: left;
	width: 350px;
}
 
/*------------------------------- TEXTE ---------------------------------*/

.textaccueil {
	float:right;
	width: 350px;
	text-indent: 2em;
	font-size: 1.3em;
	padding: 3em 0;
}


.text h3 {
	padding: 4px 7px;
}

.text p {
	text-indent: 2em ;
}